@media (max-width: 549px) {
	/* Crop image */
	.profile-pic {
		width: 100vw;
		height: 100vw;
		border-radius: 30%;
		object-fit: none;
		object-position: 50% 90%;
	}
}
@media (min-width: 550px) {
	.row {
		position: relative;
		overflow: hidden;
	}
	.left-div {
		position: absolute;
		width: 48%;
		left: 0;
		bottom: 0;
	}
	.sky-block {
		width: 100%;
		padding-top: 500%;
	}

	/* Responsive empty div keeping aspect ratio */
	.left-empty-div-wrapper {
		display: inline-block;
		position: relative;
	}
	.left-empty-div-wrapper:after {
		padding-top: 120%;
		display: block;
		content: '';
	}
	.left-empty-div {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}
/*
	Todo: icons magic center float
*/
.sky-gradient {
	background: #3766aa; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(black, #3766aa); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(black, #3766aa); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(black, #3766aa); /* For Firefox 3.6 to 15 */
	background: linear-gradient(black, #3766aa); /* Standard syntax */
}