// Inverted theme color for about page
body
	color #fff
	background-color #000
	
// Swap link colors
a
	color #0FA0CE
	&:hover
		color #1EAEDB

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a.obscure-link
	color #fff

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
a.obscure-link:hover
	color #1EAEDB

.site-header
	margin-bottom 0

/* Larger than tablet (from skeleton-custom.css) */
@media (min-width: 750px)
	/* Navbar */
	.navbar,
	.navbar-spacer
		background #000
	.navbar-link
		color #fff
	.navbar-link.active
		color #1EAEDB

	/* Popover */
	.popover
		background: #fff

	.popover-item:first-child .popover-link:after
		border-color rgba(255, 255, 255, 0)
		border-bottom-color #fff

	.popover-item:first-child .popover-link:before
		border-color rgba(238, 238, 238, 0)

	.popover-link
		color #fff
	.popover-link:hover
		color #fff
		background #33C3F0
	.popover-link:hover,
	.popover-item:first-child .popover-link:hover:after
		border-bottom-color #33C3F0

/* From style.css */
@media (max-width: 749px)
	.site-header:hover
	color #1EAEDB
	& > .site-title
		& a, a:hover
			color #1EAEDB

	.navbar > .container
		background #000

	.navbar-link
		color #fff

	.navbar-link:hover
		color #fff
		background #1EAEDB

	.navbar-link:hover,
	.navbar-item:first-child .navbar-link:hover:after
		border-bottom-color #1EAEDB
